@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

:root {
	--background      : #222;
	--dark-background : #131313;
	
	--white           : #FFF;
	--dark            : #1F1F1F;
	--gray            : #646464;
	--light-gray      : #b0b0b0;
	--red             : #FF2D55;
	--orange          : #ea6e12;
	--yellow          : #eab412;
	--green           : #14c745;
	--blue            : #288cff;
	--purple          : #743de1;
}

h2 {
	font-size : 2em;
}

h3 {
	font-size : 1.2em;
}

body {
	padding     : 0;
	margin      : 0;
	background  : var(--background);
	color       : white;
	font-family : "Source Code Pro", monospace;
	height      : 100vh;
}

aside {
	color : var(--gray);
	font-size: 0.75em;
}

section {
	padding-bottom: 100px;
}

nav {
	width           : 100%;
	margin          : 1em 0;
	top             : 0;
	position        : fixed;
	display         : flex;
	flex-direction  : row;
	justify-content : space-around;
}

nav ul {
	width           : 250px;
	justify-content : space-between;
	padding         : 0;
	list-style-type : none;
	display         : inline-flex;
}

a {
	text-decoration : none;
	color: white;
}

a:visited {
	color : white
}

button {
	border        : none;
	border-radius : 10px;
}

p{
	line-height: 1.6em;
}

footer{
	height: 150px;
	display:flex;
	align-content: space-between;
	justify-content : center;
}

footer p{
	margin: 0;
}

#land-page {
	position   : relative;
	height     : 100%;
	background : linear-gradient(0deg, rgba(19, 19, 19, 1) 0%, rgba(34, 34, 34, 0) 25%, rgba(34, 34, 34, 0) 100%);
}

#land-page > div {
	position  : absolute;
	top       : 42%;
	left      : 50%;
	transform : translate(-50%, -50%);
}

#land-page button {
	margin-top : 90px;
	width      : 200px;
	height     : 55px;
}

#title {
	width : 100%
}

#land-page h1 {
	font-size               : 4.8em;
	margin-bottom           : -20px;
	background              : -webkit-linear-gradient(#818181, transparent);
	-webkit-background-clip : text;
	-webkit-text-fill-color : transparent;
}

#window-container {
	font-size : 1.4em;
}

#window-container div {
	width : 70%;
}

#window-container p{
	margin-bottom: 0;
}

#down-arrows {
	position  : absolute;
	opacity   : 0.40;
	left      : 50%;
	bottom    : 1%;
	transform : translate(-50%, -50%);
}

#about {
	display     : flex;
	align-items : center;
	height      : auto;
	background  : var(--dark-background);
}

#about .description{
	width: 80%;
}

#about > div {
	margin : 35px 0;
	height : auto;
}

#about > div:first-child {
	margin-top : 0;
	margin-bottom: 100px;
}

#highlight-colors {
	margin        : auto;
	width         : 60%;
	padding       : 15px 40px;
	background    : var(--background);
	border-radius : 15px;
}

#colors-list {
	padding         : 0;
	margin          : 0.5em auto;
	width           : 100%;
	justify-content : space-between;
	list-style      : none;
	display         : inline-flex;
}

#colors-list li button {
	box-shadow    : inset 0 2px 1px rgba(255, 255, 255, 0.2);
	height        : 20px;
	width         : 20px;
	border        : none;
	border-radius : 15px;
	transition    : all 0.5s;
}
#colors-list li button:hover {
	transform : scale(1.2);
}

#colors-list li button.active {
	transform : scale(1.3);
}

#customize {
	width : 80%;
}

#customize h2 {
	margin-top    : 0;
	margin-bottom : 0;
}

.text-center {
	text-align : center;
}

.text-justify {
	text-align : justify;
}

.text-right{
	text-align : right;
 }

.relative {
	position : relative;
}

.absolute-center {
	position  : absolute;
	left      : 50%;
	top       : 50%;
	transform : translate(-50%, -50%)
}

.flex-row {
	display        : flex;
	flex-direction : row;
}

.flex-column {
	display        : flex;
	flex-direction : column;
}

.space-around {
	justify-content : space-around;
}

.space-between {
	justify-content : space-between;
}

.align-items-center {
	align-items : center;
}

.align-content-center {
	align-content : center;
}

.align-self-center {
	align-self : center;
}

.split-section div {
	flex : 1;
}

.float-left{
	float:left;
 }

.float-right{
	float:right;
}
.auto-margin {
	margin : auto;
}

.wrapper {
	width : 1000px;
}

.size_1-of-1 {
	width : 100%;
}

.size_1-of-2 {
	width : 50%
}

/* ------- Colors -------- */
.white-color {
	color : var(--white);
}
.white-background-color {
	background : var(--white);
}

.dark-color {
	color : var(--dark);
}
.dark-background-color {
	background : var(--dark);
}

.gray-color {
	color : var(--gray);
}
.gray-background-color {
	background : var(--gray);
}

.light-gray-color {
	color : var(--light-gray);
}
.light-gray-background-color {
	background : var(--light-gray);
}

.red-color {
	color : var(--red)
}
.red-background-color {
	background : var(--red);
}

.orange-color {
	color : var(--orange)
}
.orange-background-color {
	background : var(--orange)
}

.yellow-color {
	color : var(--yellow)
}
.yellow-background-color {
	background : var(--yellow)
}

.green-color {
	color : var(--green)
}
.green-background-color {
	background : var(--green)
}

.blue-color {
	color : var(--blue)
}
.blue-background-color {
	background : var(--blue)
}

.purple-color {
	color : var(--purple)
}
.purple-background-color {
	background : var(--purple);
}

.dynamic-color {
	color      : var(--blue);
	transition : all 0.5s;
}
.dynamic-bg-color {
	background : var(--blue);
	transition : all 0.5s;
}

@media only screen and (max-width: 600px) {
	#land-page h1{
		font-size : 3.5em;
		margin-bottom: 0;
	}
	
	footer{
		height: 100px;
	}
	
	#window-container{
		text-align: center;
		width: 90%;
	}
	
	#window-container img{
		display: none;
	}
	
	#window-container .absolute-center{
		position: relative;
		margin: auto;
		left: 0;
		transform:translate(0,0)
	}
	
	.wrapper {
		width: 100%;
	}

	.flex-row{
		flex-direction: column;
	}
	
	.flex-row-sm{
		flex-direction: row;
	}
	
	.flex-row div:last-child{
		margin-top: 2em;
	}
	
	.size_1-of-2{
		width: 90%;
	}
	
	.size_2-of-3_sm{
		width: 66%
	}
	.text-center-sm{
		text-align: center;
	}
}

